<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <h2>WebSocket Testing</h2>

  <br />

  <textarea
    spellcheck="true"
    autocomplete="true"
    autocorrect="true"
    rows="1"
    class="chat-input"
    [(ngModel)]="message"
    placeholder="type message..."
    (keyup.enter)="addChat()"
  ></textarea>

  <br />
  <br />
  <br />

  <button (click)="addChat()" slot="end" class="send-chat-button">SEND</button>

  <br />
  <br />
  <br />

  <ul>
    <li *ngFor="let message of messages" [innerHTML]="message"></li>
  </ul>
</main>
